amqp==1.4.9
anyjson==0.3.3
Babel==2.3.4
backports.ssl-match-hostname==3.5.0.1
base58==0.2.2
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.23
certifi==2016.2.28
cffi==1.6.0
cryptography==1.3.2
dj-database-url==0.4.1
Django==1.9.6
django-admin-sortable2==0.6.3
django-angular==0.8.2
django-appconf==1.0.2
django-celery==3.1.17
django-classy-tags==0.7.2
django-cms==3.2.5
django-filer==1.2.0
django-formtools==1.0
django-fsm==2.3.0
django-ipware==1.1.5
django-mptt==0.8.4
django-paypal==0.3.2
django-polymorphic==0.8.1
django-post-office==2.0.7
django-rest-auth==0.7.0
django-sass-processor==0.3.5
django-sekizai==0.9.0
Django-Select2==5.8.4
django-tinymce==2.3.0
django-treebeard==4.0.1
djangocms-admin-style==1.1.1
djangorestframework==3.3.3
easy-thumbnails==2.3
ecdsa==0.13
enum34==1.1.4
Flask==0.10.1
Flask-Login==0.3.2
flower==0.9.1
future==0.15.2
futures==3.0.5
html5lib==0.9999999
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
json2html==1.0.1
jsonfield==1.0.3
kombu==3.0.35
libsass==0.11.1
MarkupSafe==0.23
paginate==0.5.4
paho-mqtt==1.1
pefile==2016.3.28
Pillow==3.2.0
pyasn1==0.1.9
pybitcointools==1.1.15
pycountry==1.20
pycparser==2.14
PyInstaller==3.2
pyOpenSSL==16.0.0
pypiwin32==219
PySocks==1.5.6
pysqlcipher==2.6.4
python-gnupg==0.3.8
python-memcached==1.57
pytz==2016.4
requests==2.10.0
selenium==2.53.2
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.0.12
tornado==4.2
Unidecode==0.4.19
virtualenv==15.0.1
Werkzeug==0.11.9
